<div id="upload-tab" class="container-lg">
  
  <div class="row mt-5">
    <h4>Navvis - German Phone Parser</h4>
    <div class="col-md-10">

      <mat-tab-group (selectedTabChange)="this.fetch($event)">
        <mat-tab label="Upload">
          <div id="upload-tab" class="container-lg">
            <div class="row mt-3">
              <div class="col-md-4">
                <input (change)="this.onFilechange($event)" class="form-control" type="file" id="formFile">
                <button (click)="this.upload()" type="button" class="btn btn-primary mt-3">Upload</button>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Select">
          <div class="row mt-3">
            <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
              <div class="col-md-4">
                <ng-container matColumnDef="taskId">
                  <th mat-header-cell *matHeaderCellDef> Task Id </th>
                  <td mat-cell *matCellDef="let element"> {{element}} </td>
                </ng-container>
              </div>
              <div class="col-md-4">
                <ng-container matColumnDef="showNumber">
                  <th mat-header-cell *matHeaderCellDef> Show Numbers </th>
                  <td mat-cell *matCellDef="let element"> <button mat-button color="primary"
                      (click)="this.showNumbers(element)">select</button></td>
                </ng-container>
              </div>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-tab>
        <mat-tab label="Delete"> 
          <div class="row mt-3">
            <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
              <div class="col-md-4">
                <ng-container matColumnDef="taskId">
                  <th mat-header-cell *matHeaderCellDef> Task Id </th>
                  <td mat-cell *matCellDef="let element"> {{element}} </td>
                </ng-container>
              </div>
              <div class="col-md-4">
                <ng-container matColumnDef="showNumber">
                  <th mat-header-cell *matHeaderCellDef> Delete Numbers </th>
                  <td mat-cell *matCellDef="let element"> <button mat-button color="primary"
                      (click)="this.deleteNumbers(element)">Delete</button></td>
                </ng-container>
              </div>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>


  <div *ngIf="showTable">
    <div class="row mt-3">
      <table mat-table [dataSource]="dataNumberSource" class="mat-elevation-z8">
        <div class="col-md-4">
          <ng-container matColumnDef="taskId">
            <th mat-header-cell *matHeaderCellDef> Task Id </th>
            <td mat-cell *matCellDef="let element"> {{element.taskId}} </td>
          </ng-container>
        </div>
        <div class="col-md-4">
          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef> Phone Number </th>
            <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
          </ng-container>
        </div>
        <div class="col-md-4">
          <ng-container matColumnDef="uploadedDate">
            <th mat-header-cell *matHeaderCellDef> Uploaded Date </th>
            <td mat-cell *matCellDef="let element"> {{element.uploadedDate}} </td>
          </ng-container>
        </div>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsForTaskId"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsForTaskId;"></tr>
      </table>
    </div>
  </div>